<template>
  <v-app>
    <TopNavBar/>
    <v-content>
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </v-content>
  </v-app>
</template>

<script>
import TopNavBar from './components/TopNavBar.vue';

export default {
    name: 'App',
    components: {
        TopNavBar
    },
    data() {
        return {
            //
        };
    }
};
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .4s;
}

.fade-enter-active {
  transition-delay: .4s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
