<template>
    <div class="event-list">
        <h1>Events</h1>
    </div>
</template>

<script>
// Import HelloWorld from '../components/HelloWorld';

export default {
    components: {
        // HelloWorld
    }
};
</script>
