<template>
    <v-toolbar app dark color="primary">
        <v-toolbar-side-icon></v-toolbar-side-icon>
        <!-- <v-img
          :src="require('../assets/TrackrLogo_TopNav.svg')"
          class="my-3"
          contain
          height="64"
        ></v-img> -->
      <v-toolbar-title class="headline text-uppercase ">
          <router-link to="/" class="white--text">
              <span>Trackr</span>
          </router-link>
        <!-- <span class="font-weight-light">MATERIAL DESIGN</span> -->
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn flat to="/about">
        <span class="mr-2">About</span>
      </v-btn>

      <v-btn flat to="/events">
        <span class="mr-2">Events</span>
      </v-btn>

    </v-toolbar>
</template>

<script>
export default {
    data: () => ({
        // Data
    })
};
</script>

<style>

</style>
